/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB;
}

#game-container {
    width: 800px;
    height: 400px;
    position: relative;
    border: 2px solid #000;
    background-color: #fff;
}

.player {
    width: 100px;
    height: 20px;
    position: absolute;
    background-color: #FFCC00;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: #000;
}

#player1 {
    bottom: 0;
    left: 50px;
}

#player2 {
    bottom: 0;
    right: 50px;
}

.ball {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #FF0000;
    border-radius: 50%;
    top: 190px; /* 초기 위치 설정 */
    left: 390px; /* 초기 위치 설정 */
}

#net {
    width: 2px;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
